@import "menustyle.css";
@import "productsstyle.css";
@import "contactstyle.css";
@import "gallerystyle.css";
@import "blogstyle.css";

body { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.3em;
  font-size: 16px;
  background-color: whitesmoke;
}

/*global*/

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;

}

ul {
  margin: 0px;
  padding: 0;
}

/*header*/

header {
  background: white;
  padding-top: 5px;
  min-height: 70px;
  border-bottom:  5px   #212f3d   solid;
}

header img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header a {
  color: darkslategrey;
  text-decoration :none;
  font-size:18px;
  font-weight:bold;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header #brand {
  float:left;
}

header #brand h1 {
  margin: 0;
}

header nav {
  float:right;
  margin-top: 50px;
}

.topnav a:hover {
  color: black;
  font-size:20px;
}


.topnav a.contact {
  color: #EB008B;
}

/*showcase*/

#showcase {
  min-height: 400px;
  background: url(/images/basqueburntcheesecake-showcase.PNG) no-repeat 0;
  text-align: center;
  color: white;
}

#showcase h1 {
  margin-top: 150px;
  font-size: 40px;
  margin-bottom: 100px;
  line-height: 1.6em;
}

/*content*/

#newsletter {
  background-color: palevioletred; 
  color:white;
  padding: 15px;
}

#newsletter h3{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 20px;
}

.button_1 {
  background-color: #212f3d ;
  color: white;
  height: 20px;
  padding-left:20px;
  padding-right: 20px;
  border:0;
}

.button_1:hover {
  font-weight: bold;
}

#overview {
  padding: 50px;
}

h2 {
  color: #cb007b;
  font-weight:bold
}

footer {
  background-color:#212f3d; 
  color:white;
  padding: 1px;
  text-align: center;
  font-size: 14px;
}

#whatsapp {
  text-decoration :none;
  font-style: bold;
  color:#cb007b;
}